<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Prueba 1 Ionic - Libros y Perritos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let book of books">
      <ion-card class="book-card">
        <ion-card-header>
          <ion-card-title>{{ book.title }}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <div class="image-container">
            <img *ngIf="book.dogImage" [src]="book.dogImage" alt="Dog Image" />
            <img *ngIf="book.robotImage" [src]="book.robotImage" alt="Robot Image" />
          </div>
          <ion-button (click)="saveBook(book)" class="save-button">Save</ion-button>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
